* {
    -fx-background-image: url("/Image/background.png");
    -fx-text-fill: white;
    -fx-background-insets: 0, 0, 0, 0;

}

.dialog-pane {
    -fx-border-color: black;
    -fx-border-width: 2px;

}

/**Costumization of The Bar where the buttons are located**/
.dialog-pane > .button-bar > .container {

}

.dialog-pane > .content.label {
    -fx-padding: 0.5em 0.5em 0.5em 0.5em;
    -fx-text-fill: white;
    -fx-font-size: 15.0px;
}

/**Costumization of DialogPane Header**/

.dialog-pane .header-panel .label {
    -fx-font-size: 20px;
}


/**Costumization of Buttons**/
.dialog-pane .button {
    -fx-text-fill: white;
    -fx-wrap-text: true;
    -fx-effect: dropshadow(three-pass-box, #00CCFF, 10.0, 0.0, 0.0, 0.0);
    -fx-cursor: hand;
}

.dialog-pane .button:hover {
    -fx-text-fill: #00CCFF;
    -fx-font-weight: bold;
}