.background{
    -fx-background-image: url("/Image/background.png");
}
.text-field{
    -fx-text-color: white;
}
.table-view {
    -fx-background-color: transparent;
    -fx-text-alignment: center;
    -fx-text-fill: white;
}
.table-column {
    -fx-background-color: transparent;
    -fx-alignment: center;
    -fx-text-fill: white;
}
.table-row-cell {
    -fx-background-color: transparent;
    -fx-alignment: center;
    -fx-text-fill: white;
}
.table-view .column-header-background {
    -fx-background-color:transparent;
    -fx-text-fill: white;
}
.table-view .filler {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}
.table-view .scroll-bar{
    -fx-background-color: transparent;
}
.button{
    -fx-background-radius: 12px;
}
.text-field{
    -fx-background-radius: 12px;
    -fx-border-color: #00CCFF;
    -fx-border-radius: 12px;
    -fx-text-fill: white;
    -fx-background-color: transparent;
}