.number3 {
    -fx-background-radius: 12px;
    -fx-border-color: #BF9000;
    -fx-border-radius: 12px;
    -fx-text-fill: #BF9000;
    -fx-background-color: transparent;;
}
.number2 {
    -fx-background-radius: 12px;
    -fx-border-color: #A6A6A6;
    -fx-border-radius: 12px;
    -fx-text-fill: #A6A6A6;
    -fx-background-color: transparent;
}
.number1 {
    -fx-background-radius: 12px;
    -fx-border-color: #FFD700;
    -fx-border-radius: 12px;
    -fx-text-fill: #FFD700;
    -fx-background-color: transparent;
}