.background{
    -fx-background-image: url("/Image/background.png");
}
.button{
    -fx-background-color: transparent;
    -fx-border-color: #00CCFF;
    -fx-background-radius: 10px;
    -fx-border-radius: 12px;
    -fx-text-fill: white;
    -fx-border-width: 2px;
}
.table-view {
    -fx-background-color: transparent;
    -fx-text-alignment: center;
    -fx-text-fill: white;
}
.table-column {
    -fx-background-color: transparent;
    -fx-alignment: center;
    -fx-text-fill: white;
    -fx-border-color: transparent;
}
.table-row-cell {
    -fx-background-color: transparent;
    -fx-alignment: center;
    -fx-text-fill: white;
}
.table-view .column-header-background {
    -fx-background-color:transparent;
    -fx-text-fill: white;
}
.table-view .filler {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}
.table-view .scroll-bar{
    -fx-background-color: transparent;
}
/*
    change the color of the table header
 */
.table-column .label{
    -fx-background-color: transparent;
    -fx-text-fill: white ;
    -fx-text-alignment: center ;
    -fx-graphic-text-gap:0;
}
.label{
    -fx-text-fill: white;
}
.table-view.scroll-bar:horizontal {
     -fx-background-color: transparent;
     -fx-border-width: 0;
 }
.table-view .scroll-bar{
    -fx-background-color: transparent;
    -fx-fill: transparent;
    -fx-indeterminate-bar-length: 0px;
}
.table-row-cell:selected {
     -fx-background-color: #00CCFF;
 }
