.background{
    -fx-background-image: url("/Image/background.png");
}
.button{
    -fx-background-color: transparent;
    -fx-border-color: #00CCFF;
    -fx-background-radius: 10px;
    -fx-border-radius: 12px;
    -fx-text-fill: white;
    -fx-border-width: 2px;
}
.text-field{
    -fx-background-radius: 12px;
    -fx-border-color: #00CCFF;
    -fx-border-radius: 12px;
    -fx-text-fill: white;
    -fx-background-color: transparent;;
}
.table-column .label{
    -fx-background-color: #5f93e7;
    -fx-text-fill: white ;
    -fx-text-alignment: center ;
    -fx-graphic-text-gap:0;
}
.text-field{
    -fx-background-radius: 12px;
    -fx-border-color: #00CCFF;
    -fx-border-radius: 12px;
    -fx-text-fill: white;
    -fx-background-color: transparent;;
}
.label{
    -fx-text-fill: white;
}
.table-view {
    -fx-background-color: transparent;
    -fx-text-alignment: center;
    -fx-text-fill: white;
}
.table-column {
    -fx-background-color: transparent;
    -fx-alignment: center;
    -fx-text-fill: white;
}
.table-row-cell {
    -fx-background-color: transparent;
    -fx-alignment: center;
    -fx-text-fill: white;
}
.table-view .column-header-background {
    -fx-background-color:transparent;
    -fx-text-fill: white;
}
.table-view .filler {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}
.table-view .scroll-bar{
    -fx-background-color: transparent;
}
.scroll-bar:horizontal {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}